<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Project</title>
</head>
<body>
    <p  th:text="${userName}"></p>
    <a th:if="${!#strings.isEmpty(userName)}" th:href="${url}"><button type="submit">Reset unsaved changes</button></a>
    <a th:if="${#strings.isEmpty(userName)}" th:href="${url}"><button type="submit">CONNECT SPOTIFY</button></a>
    <br>
    <table>
        <tr th:each="playlist : ${playlists}">
            <td><a th:href="@{'/playlist/' + ${playlist.getDatabaseId()}}" th:text="${playlist.getName()}"></a></td>
        </tr>
    </table>
    <div th:insert="~{fragments/tracks :: allTracks}"></div>


</body>
</html>