<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>
<body>
    <div th:if="${userId == playlist.getUserId()}">
        <p th:text="${playlist.getName()}">
        <table>
            <tr th:each="track : ${playlist.getPlaylistTracks()}">
                <td><img th:src="${track.getImage()}" style="width: 50px;height: 50px"></td>
                <td th:text="${track.getName()}"></td>
                <td><a th:href="@{'/playlist/' + ${playlist.getDatabaseId()} + '/delete/'+${track.getId()} + '/uri/' + ${track.getUri()}}"><button>-</button></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${userId == playlist.getUserId()}">
        <table>
            <tr th:each="track : ${tracks}">
                <td><img th:src="${track.getImage()}" style="width: 50px;height: 50px"></td>
                <td th:text="${track.getName()}"></td>
                <td><a th:href="@{'/playlist/' + ${playlist.getDatabaseId()} + '/add/'+${track.getId()} + '/uri/' + ${track.getUri()}}"><button>+</button></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${userId != playlist.getUserId()}">
        <p>not allowed</p>
    </div>
</body>
</html>