<body>
    <input type="text" id="input" onkeyup="myFunction()" placeholder="Search for track" th:fragment="search" autocomplete="off">
    <div th:fragment="allTracks">
        <table id="search-table">
            <td th:each="track : ${tracks}">
                <div class="track-box">
                        <img th:src="${track.getImage()}">
                        <span><p th:text="${track.getName()}" class="track-name"></p></span>
                </div>
            </td>
        </table>

    </div>

</body>
